<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login app</title>
  <meta name="description" content="DESCRIPTION">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/styles.css">

  <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        {{#if user}}
          <li class="nav-item"><a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
        {{else}}
          <li role="presentation" class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <!-- Example row of columns -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#if success_msg}}
          <div class="alert alert-success">
            {{success_msg}}
          </div>
        {{/if}}
        {{#if error_msg}}
          <div class="alert alert-danger">
            {{error_msg}}
          </div>
        {{/if}}
        {{#if error}}
          <div class="alert alert-danger">
            {{error}}
          </div>
        {{/if}}
        {{{body}}}
      </div>
    </div>
  </div>


  <footer class="container">
    <p>&copy; Login App 2017-2018</p>
  </footer>
</body>

</html>
